<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table>
<tr>
	<td>homeseq</td>
	<td>homepage</td>
	
	<td>main</td>
	<td>contact_contactseq</td>
</tr>
<tr th:each = "list : ${list}">
	<td th:text = "${list.homeseq}"></td>
	<td><a th:href = "@{/contacthp/contacthpXdmView(homeseq=${list.homeseq})}" th:text="${list.homepage}"></a></td>
	
	<td th:text = "${list.main}"></td>
	<td th:text = "${list.contact_contactseq}"></td>
</tr>
</table>
<br>
<a href = "/contacthp/contacthpXdmForm"><button type="button">등록</button></a>
</body>
</html>	
	 	