<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/contactnumber/contactnumberXdmInst" method="post" id = "form">

	conNumseq: <input type="text" name = "conNumseq" id = "conNumseq" maxlength="10" disabled/>
	number: <input type="text" name = "number" id = "number" placeholder = "입력해주세요."/>
	section: <input type="text" name = "section" id = "section" placeholder = "입력해주세요."/>
	main: <input type="text" name = "main" id = "main" placeholder = "입력해주세요."/>
	contact_contactseq: <input type="text" name = "contact_contactseq" id = "contact_contactseq" placeholder = "입력해주세요."/>
	
	<button type = "button" id="btnSave">저장</button>
</form>

<script type="text/javascript">

	document.getElementById("btnSave").onclick= function () {
				
		document.getElementById("form").submit();
	}
	
	
</script>
</body>
</html>