<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table>
<tr>
	<td>annivseq</td>
	<td>section</td>
	<td>date</td>
	<td>solarLunar</td>
	<td>contact_contactseq</td>
	<td>main</td>
</tr>
<tr th:each="list : ${list}">
	<td th:text = "${list.annivseq}"></td>
	<td th:text = "${list.section}"></td>
	<td><a th:href = "@{/contactanniv/contactannivXdmView(annivseq=${list.annivseq})}" th:text="${list.date}"></a></td>
	<td th:text = "${list.solarLunar}"></td>
	<td th:text = "${list.contact_contactseq}"></td>
	<td th:text = "${list.main}"></td>
</tr>
</table>
</body>
</html>	
	