<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table>
<tr>
	<td>annivseq</td>
	<td>section</td>
	<td>date</td>
	<td>solarLunar</td>
	<td>contact_contactseq</td>
	<td>main</td>
</tr>
<tr>
	<td th:text = "${item.annivseq}"></td>
	<td th:text = "${item.section}"></td>
	<td th:text = "${item.date}"></td>
	<td th:text = "${item.solarLunar}"></td>
	<td th:text = "${item.contact_contactseq}"></td>
	<td th:text = "${item.main}"></td>
</tr>
</table>


</body>
</html>	