<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table>
<tr>
	<td>groupseq</td>
	<td>name</td>
</tr>
<tr th:each="list : ${list}">
	<td th:text = "${list.groupseq}"></td>
	<td><a th:href = "@{/team/teamXdmView(groupseq=${list.groupseq})}" th:text="${list.name}"></a></td>
	<!--<a th:href = "/team/teamXdmView?groupseq=[${list.groupseq}]}" th:text="${list.name}"></a>  -->
</tr>
</table>
<br>
<a href = "/team/teamXdmForm"><button type="button">등록</button></a>

</body>
</html>