<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contactadd.ContactaddDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contactadd.ContactaddDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contactadd	
		WHERE 1=1
		ORDER BY addseq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contactadd
		WHERE 1=1
		AND addseq = #{addseq}
	</select>
</mapper>	