<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contactemail.ContactemailDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contactemail.ContactemailDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contactemail	
		WHERE 1=1
		ORDER BY emailseq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contactemail	
		WHERE 1=1
		AND emailseq = #{emailseq}
	</select>
</mapper>	