<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contactnumber.ContactnumberDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contactnumber.ContactnumberDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contactnumber	
		WHERE 1=1
		ORDER BY conNumseq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contactnumber	
		WHERE 1=1
		AND conNumseq = #{conNumseq}
	</select>
</mapper>