<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contactcomp.ContactcompDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contactcomp.ContactcompDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contactcomp	
		WHERE 1=1
		ORDER BY companyseq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contactcomp	
		WHERE 1=1
		AND companyseq = #{companyseq}
	</select>
	
	<insert id="insert">
	INSERT INTO contactcomp (		
		company,
		main,
		contact_contactseq				
	) values (		
		#{company},
		#{main},
		#{contact_contactseq}	
	)
	  
	<selectKey resultType="String" keyProperty="companyseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
</mapper>	