<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contacthp.ContacthpDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contacthp.ContacthpDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contacthp	
		WHERE 1=1
		ORDER BY homeseq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contacthp	
		WHERE 1=1
		AND homeseq = #{homeseq}
	</select>
	
	<insert id="insert">
	INSERT INTO contacthp (		
		homepage,
		main,
		contact_contactseq
				
	) values (		
		#{homepage},
		#{main},
		#{contact_contactseq}
		
	)
	  
	<selectKey resultType="String" keyProperty="homeseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
</mapper>	