<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contact.ContactDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contact.ContactDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contact	
		WHERE 1=1
		ORDER BY contactseq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contact	
		WHERE 1=1
		AND contactseq = #{contactseq}
	</select>
	
	<insert id="insert">
	INSERT INTO contact (		
		lastName,
		firstName,
		id,
		memo,
		nickname,
		bookmark		
	) values (		
		#{lastName},
		#{firstName},
		#{id},
		#{memo},
		#{nickname},
		#{bookmark}
	)
	  
	<selectKey resultType="String" keyProperty="contactseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
</mapper>	