<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contact.ContactDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contact.ContactDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			contactseq,
   		 	lastName,
   		 	firstName,
   		 	id,
    		memo,
   			nickname,
    		bookmark
		FROM
			contact	
		WHERE 1=1
		ORDER BY contactseq DESC
	</select>
</mapper>	