<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contactanniv.ContactannivDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contactanniv.ContactannivDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contactanniv	
		WHERE 1=1
		ORDER BY annivseq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contactanniv	
		WHERE 1=1
		AND annivseq = #{annivseq}
	</select>
	<insert id="insert">
	INSERT INTO contactanniv (		
		section,
		date,
		solarLunar,
		main,
		contact_contactseq
			
	) values (		
		#{section},
		#{date},
		#{solarLunar},
		#{main},
		#{contact_contactseq}

	)
	  
	<selectKey resultType="String" keyProperty="annivseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
</mapper>	