<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contactsns.ContactsnsDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contactsns.ContactsnsDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contactsns	
		WHERE 1=1
		ORDER BY snsseq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contactsns	
		WHERE 1=1
		AND snsseq = #{snsseq}
	</select>
	
	<insert id="insert">
	INSERT INTO contactsns (		
		section,
		sns,
		main,
		contact_contactseq
				
	) values (		
		#{section},
		#{sns},
		#{main},
		#{contact_contactseq}
	)
	  
	<selectKey resultType="String" keyProperty="snsseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
</mapper>	