<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.contactgroup.ContactgroupDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.contactgroup.ContactgroupDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT * FROM
			contactgroup	
		WHERE 1=1
		ORDER BY seq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT * FROM
			contactgroup	
		WHERE 1=1
		AND seq = #{seq}
	</select>
</mapper>	