<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kjw.fapp.team.TeamDao">

	<resultMap id="resultMapObj" type="com.kjw.fapp.team.TeamDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			groupseq,
    		name
		FROM
			team	
		WHERE 1=1
		ORDER BY groupseq DESC
	</select>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			groupseq,
   			name
		FROM
			team	
		WHERE 1=1
		AND groupseq = #{groupseq}
	</select>
	
	<insert id="insert">
	INSERT INTO team (		
		name
	) values (		
		#{name}
	)
	  
	<selectKey resultType="String" keyProperty="groupseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	  
</mapper>