<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table>
<tr>
	<td>addseq</td>
	<td>section</td>
	<td>zipcode</td>
	<td>address</td>
	<td>contact_contactseq</td>
	<td>main</td>	
</tr>
<tr>
	<td th:text = "${item.addseq}"></td>
	<td th:text = "${item.section}"></td>
	<td th:text = "${item.zipcode}"></td>
	<td th:text = "${item.address}"></td>
	<td th:text = "${item.contact_contactseq}"></td>
	<td th:text = "${item.main}"></td>
	
</tr>
</table>
</body>
</html>